In [84]:
import pandas as pd
import numpy as np

In [85]:
data=pd.read_csv('C:/Users/User/Downloads/IMDB Dataset.csv')
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [86]:
data['sentiment'].value_counts()

positive    25000
negative    25000
Name: sentiment, dtype: int64

In [87]:
data.isnull().sum()

review       0
sentiment    0
dtype: int64

In [ ]:
def

In [88]:
data.review[0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [89]:
import re
def cleantext(text):
    clean=re.compile('<.*?>')
    text=re.sub(clean,'',text)
    text=text.lower()
    return text

In [90]:
data['review']=data['review'].apply(cleantext)
data.head(10)

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive
5  probably my all-time favorite movie, a story o...  positive
6  i sure would like to see a resurrection of a u...  positive
7  this show was an amazing, fresh & innovative i...  negative
8  encouraged by the positive comments about this...  negative
9  if you like original gut wrenching laughter yo...  positive

In [91]:
def removespslchrct(textss):
    x=''
    for i in textss:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [92]:
data['review']=data['review'].apply(removespslchrct)

In [93]:
from nltk.corpus import stopwords
stopwordslist=stopwords.words('english')

In [94]:
len(stopwordslist)

179

In [95]:
def stopwords_removal(texts):
    x=[]
    for i in texts.split():
        if i not in stopwordslist:
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [120]:
data['review']=data['review'].apply(stopwords_removal)

In [121]:
data.head()

                                              review  sentiment
0  [one, review, mention, watch, 1, oz, episod, h...          1
1  [wonder, littl, product, film, techniqu, unass...          1
2  [thought, wonder, way, spend, time, hot, summe...          1
3  [basic, famili, littl, boy, jake, think, zombi...          0
4  [petter, mattei, love, time, money, visual, st...          1

In [122]:
from nltk.stem.porter import PorterStemmer
pt=PorterStemmer()

In [123]:
y=[]
def stemwords(text):
    for i in text:
        y.append(pt.stem(i))
    z=y[:]
    y.clear()
    return z

In [124]:
data['review']=data['review'].apply(stemwords)

In [125]:
data.head()

                                              review  sentiment
0  [one, review, mention, watch, 1, oz, episod, h...          1
1  [wonder, littl, product, film, techniqu, unass...          1
2  [thought, wonder, way, spend, time, hot, summe...          1
3  [basic, famili, littl, boy, jake, think, zombi...          0
4  [petter, mattei, love, time, money, visual, st...          1

In [126]:
data['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [127]:
data.head()

                                              review  sentiment
0  [one, review, mention, watch, 1, oz, episod, h...          1
1  [wonder, littl, product, film, techniqu, unass...          1
2  [thought, wonder, way, spend, time, hot, summe...          1
3  [basic, famili, littl, boy, jake, think, zombi...          0
4  [petter, mattei, love, time, money, visual, st...          1

In [128]:
def join_back(list_input):
    return ' '.join(list_input)

In [129]:
data['review']=data['review'].apply(join_back)

In [130]:
data.head()

                                              review  sentiment
0  one review mention watch 1 oz episod hook righ...          1
1  wonder littl product film techniqu unassum old...          1
2  thought wonder way spend time hot summer weeke...          1
3  basic famili littl boy jake think zombi closet...          0
4  petter mattei love time money visual stun film...          1

In [131]:
data.shape

(50000, 2)

In [132]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=500)

In [133]:
x=cv.fit_transform(data['review']).toarray()

In [134]:
x.shape

(50000, 500)

In [135]:
from sklearn.model_selection import train_test_split

In [136]:
x_train, x_test,y_train,y_test=train_test_split(data['review'] ,data['sentiment'],test_size=0.2)

In [137]:
x_train.shape

(40000,)

In [138]:
x_test.shape

(10000,)

In [139]:
y_train.shape

(40000,)

In [116]:
y_test.shape

(10000,)

In [117]:
from  sklearn.naive_bayes import GaussianNB, MultinomialNB,BernoulliNB

In [118]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [119]:
clf1.fit(x_train,y_train)
clf2.fit(x_train,y_train)
clf3.fit(x_train,y_train)

ValueError: could not convert string to float: 'life truli bad get cast mercenari lascivi ruthless duplicit shallow charact intend reflect post eighti set admit regard accur creation unfortun leav noth sympathis care regard anoth step toward televis premium rate phone scam astonishingli bad cheap realiti celebr satur televis cut run attitud destroy medium inde much british societi sound exagger think regard program life inde influenti often call'